useDynLib(ktspair,"cktspair")
export(kts.pair)
export(ktspcalc)
export(ktspplot)
export(rank_na)
export(ordertsp)
export(AUC.calc)
export(make.consecutive.int)
export(cv)
export(cv2)
export(bootstrap.ktsp)
export(bootstrap.graphic.ktsp)
export(ktspcalc2)
export(ROC.offset)
export(ROC.voting)
export(ROC.graphic.ktsp)
S3method(print,ktsp)S3method(summary,ktsp)S3method(predict,ktsp)
S3method(plot,ktsp)
